
{% block analytics_filter_widget %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col s6">{{ form_row(form.startDate) }}</div>
        <div class="col s6">{{ form_row(form.endDate) }}</div>
    </div>
    <button type="submit" class="btn">Submit</button>
    {{ form_end(form) }}
{% endblock %}
